#LOADING LOAN DATA
This is Linear Regression Problem,We have to predict Interest rate

In [1]:
import pandas as pd
import matplotlib as plt
from sklearn import datasets
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
%matplotlib inline
df=pd.read_csv("D:\UIS-LEARN\Spring 2016/MidtermData/midterm_train.csv")

df

C:\Users\anusha\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (13,24,27,28,29,30,31,36,37,38,39,40,41,42,43,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
0,11.89%,54734,80364,"$25,000","$25,000","$19,080",36 months,829.10,B,B4,...,0.0,0,0.0,Oct-11,7392.08,NaN,Aug-12,0,NaN,1
1,10.71%,55742,114426,"$7,000","$7,000",$673,36 months,228.22,B,B5,...,0.0,0,0.0,Jun-11,228.48,NaN,Aug-12,0,NaN,1
2,16.99%,57167,137225,"$25,000","$25,000","$24,725",36 months,891.20,D,D3,...,44.56,0,0.0,Dec-14,935.76,NaN,Apr-15,0,NaN,1
3,13.57%,57416,139635,"$10,800","$10,800","$10,692",36 months,366.86,C,C3,...,0.0,0,0.0,Nov-12,398,NaN,Jun-15,0,NaN,1
4,19.05%,58524,149512,"$7,200","$7,200","$7,200",36 months,264.11,D,D4,...,0.0,0,0.0,Jun-14,3559.18,NaN,Dec-14,0,30,1
5,14.26%,59006,154254,"$3,000","$3,000","$2,988",36 months,102.92,C,C5,...,0.0,0,0.0,Oct-12,111.23,NaN,Sep-12,0,NaN,1
6,7.88%,61390,182594,"$4,000","$4,000","$3,900",36 months,125.13,A,A5,...,0.0,0,0.0,Mar-12,1454.31,NaN,Mar-12,0,NaN,1
7,9.88%,62102,191024,"$3,200","$3,200","$3,200",36 months,103.08,B,B1,...,0.0,0,0.0,Feb-11,2592.23,NaN,Mar-13,0,NaN,1
8,11.14%,65426,232106,"$4,000","$4,000","$3,892",36 months,131.22,B,B1,...,0.0,0,0.0,Jun-11,131.22,NaN,Oct-11,0,NaN,1
9,12.21%,66431,243540,"$2,525","$2,525","$2,375",36 months,84.12,B,B5,...,0.0,0,0.0,Mar-12,89.75,NaN,Mar-12,0,NaN,1
10,13.47%,66749,246329,"$10,625","$10,625","$5,325",36 months,360.43,C,C4,...,0.0,0,0.0,Jan-12,370.44,NaN,Dec-11,0,NaN,1
11,13.24%,66964,247990,"$7,500","$7,500",$986,36 months,253.58,D,D3,...,0.0,0,0.0,Jun-11,253.87,NaN,Jun-11,0,NaN,1
12,8.59%,67503,252415,"$10,000","$10,000","$10,000",36 months,316.11,A,A4,...,0.0,0,0.0,Feb-12,3064.45,NaN,Feb-14,0,NaN,1
13,7.14%,68163,258249,"$3,000","$3,000","$3,000",36 months,92.82,A,A3,...,0.0,0,0.0,Feb-13,97.75,NaN,Feb-13,0,NaN,1
14,8.63%,68381,260179,"$6,625","$6,625","$6,475",36 months,209.54,A,A5,...,0.0,0,0.0,Mar-11,424.12,NaN,Mar-15,0,NaN,1
15,11.03%,68817,264119,"$10,000","$10,000","$2,475",36 months,327.53,C,C1,...,0.0,0,0.0,Sep-10,23.15,NaN,Sep-10,0,NaN,1
16,NaN,68926,264924,"$2,300","$2,300",$590,36 months,77.69,D,D2,...,0.0,0,0.0,Sep-11,77.78,NaN,Jun-15,0,NaN,1
17,8.94%,69001,265533,"$15,000","$15,000","$14,875",36 months,476.58,A,A5,...,0.0,0,0.0,Jul-12,1919.13,NaN,Jul-12,0,NaN,1
18,10.39%,69124,266619,"$18,000","$18,000","$11,636",36 months,584.12,B,B4,...,0.0,0,0.0,Apr-11,598.22,NaN,Jun-15,0,NaN,1
19,15.13%,69168,266943,"$5,000","$5,000","$4,975",36 months,173.65,E,E4,...,0.0,0,0.0,Apr-11,184.81,NaN,Dec-13,0,NaN,1
20,8.00%,69251,267771,"$6,000","$6,000",$500,36 months,188.02,A,A3,...,14.9968088501,0,0.0,May-11,189.36,NaN,May-11,0,NaN,1
21,15.33%,69550,270212,"$11,200","$11,200","$11,188",60 months,268.40,D,D3,...,0.0,0,0.0,Aug-14,2816.71,NaN,Jun-15,0,NaN,1
22,8.63%,69828,272798,"$15,000","$15,000","$13,138",36 months,474.42,A,A5,...,94.8050599908,0,0.0,Aug-11,38.2,NaN,Aug-11,0,NaN,1
23,13.55%,69924,274280,"$10,000","$10,000","$8,790",36 months,339.60,D,D4,...,0.0,0,0.0,Apr-11,359.55,NaN,Jun-15,0,NaN,1
24,NaN,69990,275254,"$15,500","$15,500","$14,400",36 months,484.85,A,A5,...,0.0,0,0.0,Feb-13,472.56,NaN,Feb-13,0,NaN,1
25,12.29%,70348,280311,"$9,600","$9,600","$9,265",36 months,320.19,C,C5,...,0.0,0,0.0,May-10,3773.06,NaN,Jun-15,0,NaN,1
26,9.01%,76597,76583,"$5,000","$5,000","$1,775",36 months,159.03,B,B2,...,0.0,0,0.0,Jul-10,160.61,NaN,Jul-10,NaN,NaN,1
27,7.43%,84918,84914,"$5,000","$5,000","$2,025",36 months,155.38,A,A2,...,0.0,0,0.0,Apr-08,4268.52,NaN,Jun-07,NaN,NaN,1
28,7.43%,88854,70699,"$5,000","$5,000",$225,36 months,155.38,A,A2,...,0.0,0,0.0,Mar-08,0,NaN,May-07,NaN,NaN,1
29,7.43%,90376,89243,"$5,000","$5,000",$650,36 months,155.38,A,A2,...,0.0,0,0.0,Jan-08,0,NaN,Jun-07,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324447,8.19%,37840854,40603714,"$7,000","$7,000","$7,000",36 months,219.97,A,A5,...,0,0,0,Jun-15,219.97,Jul-15,Jun-15,0,64,1
324448,19.24%,37840885,40603759,"$35,000","$35,000","$35,000",36 months,1287.22,E,E2,...,0,0,0,Jun-15,1287.22,Jul-15,Jun-15,0,NaN,1
324449,11.99%,37840979,40603881,"$20,000","$20,000","$20,000",36 months,664.20,B,B5,...,0,0,0,Jun-15,664.2,Jul-15,Jun-15,0,NaN,1
324450,12.99%,37841007,40603919,"$15,000","$15,000","$15,000",36 months,505.34,C,C2,...,0,0,0,Jun-15,505.34,Jul-15,Jun-15,0,NaN,1
324451,8.19%,37841045,40603969,"$19,200","$19,200","$19,200",36 months,603.35,NaN,NaN,...,0,0,0,Jun-15,603.35,Jul-15,Jun-15,0,NaN,1
324452,19.24%,37841134,40604074,"$14,000","$14,000","$14,000",60 months,365.02,E,E2,...,18.25,0,0,Jun-15,383.27,Jul-15,Jun-15,0,NaN,1
324453,8.67%,37841174,40604121,"$12,500","$12,500","$12,500",60 months,257.49,B,B1,...,0,0,0,Jun-15,257.49,Jul-15,Jun-15,0,NaN,1
324454,16.49%,37841183,40604130,"$6,000","$6,000","$6,000",36 months,212.40,D,D3,...,0,0,0,Jun-15,212.4,Jul-15,Jun-15,0,NaN,1
324455,6.99%,37841237,40604193,"$28,000","$28,000","$28,000",36 months,864.44,A,A3,...,0,0,0,Jun-15,864.44,Jul-15,Jun-15,0,NaN,1
324456,19.24%,37841276,40604243,"$16,750","$16,750","$16,750",36 months,616.03,E,E2,...,0,0,0,Feb-15,16665.52,NaN,Mar-15,0,NaN,1
324457,10.49%,37841307,40604282,"$9,600","$9,600","$9,600",36 months,311.98,B,B3,...,0,0,0,Jun-15,311.98,Jul-15,Jun-15,0,42,1
324458,15.59%,37841314,40604289,"$1,000","$1,000","$1,000",36 months,34.96,D,D1,...,0,0,0,Jun-15,34.96,Jul-15,Jun-15,0,NaN,1
324459,8.19%,37841343,40604323,"$8,000","$8,000","$8,000",36 months,251.40,A,A5,...,0,0,0,Jun-15,251.4,Jul-15,Jun-15,0,NaN,1
324460,9.49%,37841350,40604331,"$26,000","$26,000","$26,000",36 months,832.74,B,B2,...,0,0,0,Jun-15,832.74,Jul-15,Jun-15,0,59,1
324461,7.49%,37841375,40604359,"$7,000","$7,000","$7,000",36 months,217.72,A,A4,...,0,0,0,Jun-15,217.72,Jul-15,Jun-15,0,NaN,1
324462,9.49%,37841428,40604426,"$4,000","$4,000","$4,000",36 months,128.12,B,B2,...,0,0,0,Jun-15,128.12,Jul-15,Jun-15,0,NaN,1
324463,11.99%,37841429,40604427,"$24,000","$24,000","$24,000",36 months,797.03,B,B5,...,0,0,0,Jun-15,797.03,Jul-15,Jun-15,0,NaN,1
324464,8.67%,37841472,40604475,"$10,000","$10,000","$10,000",36 months,316.47,NaN,NaN,...,0,0,0,Jun-15,316.47,Jul-15,Jun-15,0,NaN,1
324465,19.24%,37841535,40604556,"$11,000","$11,000","$11,000",60 months,286.81,E,E2,...,0,0,0,May-15,286.81,Jul-15,Jun-15,1,NaN,1
324466,12.39%,37841552,40604575,"$8,000","$8,000","$8,000",36 months,267.21,NaN,NaN,...,0,0,0,Jun-15,267.21,Jul-15,Jun-15,0,NaN,1
324467,NaN,37841570,40604594,"$24,000","$24,000","$24,000",60 months,616.52,NaN,NaN,...,0,0,0,Jun-15,616.52,Jul-15,Jun-15,0,51,1
324468,11.44%,37841594,40604621,"$11,000","$11,000","$11,000",36 months,362.43,B,B4,...,0,0,0,Jun-15,362.43,Jul-15,Jun-15,0,NaN,1
324469,14.99%,37841668,40604701,"$28,000","$28,000","$28,000",36 months,970.50,C,C5,...,0,0,0,Jun-15,970.5,Jul-15,Jun-15,0,13,1
324470,10.49%,37841841,40604912,"$5,500","$5,500","$5,500",36 months,178.74,B,B3,...,0,0,0,Jun-15,178.74,Jul-15,Jun-15,0,NaN,1
324471,15.59%,37842129,40605224,"$21,425","$21,425","$21,425",60 months,516.36,D,D1,...,0,0,0,Jun-15,516.36,Jul-15,Jun-15,0,74,1
324472,8.19%,37854137,40616855,"$4,000","$4,000","$4,000",36 months,125.70,A,A5,...,0,0,0,Jun-15,125.7,Jul-15,Jun-15,0,NaN,1
324473,11.44%,37854157,40616878,"$12,000","$12,000","$12,000",36 months,395.37,B,B4,...,0,0,0,Jun-15,395.37,Jul-15,Jun-15,0,35,1
324474,15.99%,37854423,40617173,"$2,000","$2,000","$2,000",36 months,70.31,D,D2,...,0,0,0,Jun-15,70.31,Jul-15,Jun-15,0,NaN,1
324475,11.44%,37854444,40617199,"$16,000","$16,000","$16,000",60 months,351.40,NaN,NaN,...,0,0,0,Jun-15,351.4,Jul-15,Jun-15,0,NaN,1
324476,12.39%,38098114,40860827,"$15,000","$15,000","$15,000",60 months,336.64,C,C1,...,0,0,0,Jun-15,336.64,Jul-15,Jun-15,0,NaN,1

In [2]:
df.describe()

               Loan_ID      Borrower_ID  Monthly_Payment
count    324477.000000    324477.000000    324477.000000
mean   13145661.158156  14673129.804572       432.947560
std    10875525.606518  11658777.603057       243.602423
min       54734.000000     70699.000000        15.690000
25%     3703284.000000   4584336.000000       257.870000
50%    10122866.000000  11956936.000000       380.680000
75%    20751084.000000  23021691.000000       567.780000
max    38098114.000000  40860827.000000      1409.990000

In [3]:
df.dtypes

Interest_Rate                       object
Loan_ID                              int64
Borrower_ID                          int64
Loan_Amount_Requested               object
Loan_Amount_Funded                  object
Loan_Amount_Funded_by_Investors     object
Initial_Loan_Term_Months            object
Monthly_Payment                    float64
Loan_Grade                          object
Sub_Loan_Grade                      object
Employer                            object
Length_Employed                     object
Home_Owner?                         object
Annual_Income                       object
Income_Verified                     object
Month_Issued                        object
Current_Status                      object
Payment_Plan_Ind                    object
Loan_Description                    object
Purpose_Of_Loan                     object
Loan_Title                          object
Zip_3                               object
State                               object
Debt_To_Income                      object
Number_Delinqueny_2yrs              object
Month_Earliest_Credit               object
Inquiries_Last_6Mo                  object
Months_Since_Deliquency             object
Months_Since_Record                 object
Number_Open_Accounts                object
Public_Record_Count                 object
Revolving_Balance                   object
Revolving_Utilization               object
Total_Accounts                      object
Initial_Status                      object
Outstanding_Principal               object
Outstanding_Principal_Remaining     object
Total_Payment                       object
Total_Payment_Funded                object
Total_Received                      object
Total_Received_Interest             object
Total_Received_Late_Fees            object
Recoveries                          object
Collection_Recovery_Fee             object
Last_Payment_Received               object
Last_Payment_Total                  object
Next_Payment_Date                   object
Last_Credit_Pulled                  object
Collections_12Mo_Exclude_Med        object
Months_Since_Last_Derogatory        object
Policy_Code                         object
dtype: object

In [4]:
df.Annual_Income.describe()

count     274799
unique     26011
top        60000
freq        5857
Name: Annual_Income, dtype: object

In [5]:
df.Last_Payment_Received.value_counts()

Jun-15             205308
May-15              13219
Apr-15               7187
Mar-15               7089
Feb-15               5977
Jan-15               5965
Oct-14               5335
Dec-14               5064
Sep-14               4441
Aug-14               4432
Jul-14               4362
Nov-14               4345
Jun-14               3864
May-14               3245
Mar-14               3171
Apr-14               3033
Feb-14               2502
Jan-14               2484
Dec-13               2130
Oct-13               1977
Nov-13               1836
Sep-13               1749
Aug-13               1686
Jul-13               1624
May-13               1467
Mar-13               1400
Jun-13               1373
Apr-13               1275
0                    1209
Feb-13               1126
                    ...
9.8079000005            1
6054.95                 1
26.6723999972           1
4.52                    1
1.1271                  1
Feb-08                  1
1257.22                 1
2056.99                 1
11.3249999977           1
1455.73                 1
34.8740999988           1
11.27                   1
38.6339000013           1
1377.7258999952         1
25.9860999974           1
4998.67                 1
854.9                   1
9378.43                 1
1.72                    1
1538.13                 1
37.1601000099           1
1920.14                 1
14013.75                1
942.51                  1
11.9003                 1
4                       1
19.4546                 1
14.9250000006           1
5.42                    1
682.108                 1
Name: Last_Payment_Received, dtype: int64

In [6]:
df.columns

Index([u'Interest_Rate', u'Loan_ID', u'Borrower_ID', u'Loan_Amount_Requested',
       u'Loan_Amount_Funded', u'Loan_Amount_Funded_by_Investors',
       u'Initial_Loan_Term_Months', u'Monthly_Payment', u'Loan_Grade',
       u'Sub_Loan_Grade', u'Employer', u'Length_Employed', u'Home_Owner?',
       u'Annual_Income', u'Income_Verified', u'Month_Issued',
       u'Current_Status', u'Payment_Plan_Ind', u'Loan_Description',
       u'Purpose_Of_Loan', u'Loan_Title', u'Zip_3', u'State',
       u'Debt_To_Income', u'Number_Delinqueny_2yrs', u'Month_Earliest_Credit',
       u'Inquiries_Last_6Mo', u'Months_Since_Deliquency',
       u'Months_Since_Record', u'Number_Open_Accounts', u'Public_Record_Count',
       u'Revolving_Balance', u'Revolving_Utilization', u'Total_Accounts',
       u'Initial_Status', u'Outstanding_Principal',
       u'Outstanding_Principal_Remaining', u'Total_Payment',
       u'Total_Payment_Funded', u'Total_Received', u'Total_Received_Interest',
       u'Total_Received_Late_Fees', u'Recoveries', u'Collection_Recovery_Fee',
       u'Last_Payment_Received', u'Last_Payment_Total', u'Next_Payment_Date',
       u'Last_Credit_Pulled', u'Collections_12Mo_Exclude_Med',
       u'Months_Since_Last_Derogatory', u'Policy_Code'],
      dtype='object')

Choose colums :Loan_Amount_Funded
               Monthly_Payment
               Loan_Grade
               Total_Received_Late_Fees
               Last_Payment_Received
               Last_Payment_Total
               Initial_Loan_Term_Month

In [7]:
df.head(n=1)

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
0,11.89%,54734,80364,"$25,000","$25,000","$19,080",36 months,829.1,B,B4,...,0.0,0,0.0,Oct-11,7392.08,NaN,Aug-12,0,NaN,1

In [8]:
df.Total_Received_Late_Fees.value_counts()

0.0                   286445
0.0                    21260
0                      10229
15.0                     935
30.0                      95
15.0                      44
15                        33
10000.0                   14
45.0                      11
12000.0                    9
16.37                      9
18.02                      8
20.6                       8
20000.0                    8
15000.0                    8
17.01                      7
21.56                      7
16.4                       6
17.41                      6
17.17                      6
24.91                      6
16.64                      6
37.39                      6
60.93                      6
17.65                      6
30.0                       5
5000.0                     5
16.07                      5
16.17                      5
18000.0                    5
                       ...
47.5240469288              1
1694.87                    1
14.9710634193              1
3529.36                    1
25.8                       1
29.2994922561              1
2266.38                    1
29.914661609499998         1
76.19603218                1
11727.62                   1
19.47                      1
35.4                       1
29.9980270452              1
1186.23                    1
1501.77                    1
3980.19                    1
19.84                      1
14.9878210806              1
28.6540626714              1
29.9143098734              1
33.5230109032              1
8432.24                    1
16.8                       1
5368.16                    1
44.93918219729999          1
682.03                     1
29.9651951969              1
21.3                       1
21.76                      1
7140.19                    1
Name: Total_Received_Late_Fees, dtype: int64

In [9]:
df.Total_Received.value_counts()

10000.0     3619
12000.0     2816
15000.0     2487
20000.0     2236
8000.0      1802
10000       1675
6000.0      1560
35000.0     1506
16000.0     1402
5000.0      1388
18000.0     1303
12000       1297
24000.0     1077
10000.0     1020
6000         980
5000         959
25000.0      943
7000.0       914
15000        870
8000         853
12000.0      821
9000.0       786
14000.0      780
30000.0      758
20000        717
28000.0      710
21000.0      702
6000.0       663
5000.0       657
4000.0       641
            ...
5778.02        1
2089.8         1
1797.49        1
1025.44        1
8235.58        1
2121.27        1
1119.57        1
2468.17        1
3732.87        1
5359.45        1
7759.14        1
7610.82        1
8233.51        1
2983.49        1
13999.91       1
1693.38        1
2405.28        1
5952.04        1
4054.82        1
957.85         1
392.28         1
15434.95       1
464.13         1
8835.01        1
1882.91        1
6332.62        1
13075          1
3015.48        1
15911.01       1
2448.76        1
Name: Total_Received, dtype: int64

In [10]:
df.Last_Payment_Total.value_counts()

327.34      698
336.9       673
0           609
332.1       501
392.81      483
491.01      483
334.49      460
317.54      410
654.68      406
Jun-15      404
608.72      385
498.15      350
635.07      344
304.36      342
168.45      341
269.52      337
163.67      335
404.27      334
330.57      332
289.34      329
261.88      323
505.34      323
456.54      322
338.63      318
323.38      317
321.13      317
673.79      313
332.72      310
381.04      308
625.81      308
           ...
6716.35       1
6716.36       1
416.83        1
2597.93       1
167.63        1
545.41        1
18492.1       1
6833.11       1
34050.43      1
4415.89       1
17217.74      1
2364.26       1
8817.39       1
9292.84       1
6729.82       1
2364.23       1
6375.82       1
11369.85      1
108.73        1
894.73        1
8817.35       1
3650.36       1
9626.25       1
14553.67      1
14553.68      1
94.53         1
4102.57       1
1971.91       1
4102.55       1
11262.1       1
Name: Last_Payment_Total, dtype: int64

In [11]:
df.Total_Received_Late_Fees.value_counts()

0.0                   286445
0.0                    21260
0                      10229
15.0                     935
30.0                      95
15.0                      44
15                        33
10000.0                   14
45.0                      11
12000.0                    9
16.37                      9
18.02                      8
20.6                       8
20000.0                    8
15000.0                    8
17.01                      7
21.56                      7
16.4                       6
17.41                      6
17.17                      6
24.91                      6
16.64                      6
37.39                      6
60.93                      6
17.65                      6
30.0                       5
5000.0                     5
16.07                      5
16.17                      5
18000.0                    5
                       ...
47.5240469288              1
1694.87                    1
14.9710634193              1
3529.36                    1
25.8                       1
29.2994922561              1
2266.38                    1
29.914661609499998         1
76.19603218                1
11727.62                   1
19.47                      1
35.4                       1
29.9980270452              1
1186.23                    1
1501.77                    1
3980.19                    1
19.84                      1
14.9878210806              1
28.6540626714              1
29.9143098734              1
33.5230109032              1
8432.24                    1
16.8                       1
5368.16                    1
44.93918219729999          1
682.03                     1
29.9651951969              1
21.3                       1
21.76                      1
7140.19                    1
Name: Total_Received_Late_Fees, dtype: int64

==>CLEANING OF DATA
We should eliminate %,$,months,Nan values

Removing $ and , signs

--->Eliminating $ sign from column 'Loan_Amount_Funded'

In [12]:

ldb = df.reset_index()
LoanGiven=df['Loan_Amount_Funded'][0:]

In [13]:
LoanGiven

0         $25,000
1          $7,000
2         $25,000
3         $10,800
4          $7,200
5          $3,000
6          $4,000
7          $3,200
8          $4,000
9          $2,525
10        $10,625
11         $7,500
12        $10,000
13         $3,000
14         $6,625
15        $10,000
16         $2,300
17        $15,000
18        $18,000
19         $5,000
20         $6,000
21        $11,200
22        $15,000
23        $10,000
24        $15,500
25         $9,600
26         $5,000
27         $5,000
28         $5,000
29         $5,000
           ...
324447     $7,000
324448    $35,000
324449    $20,000
324450    $15,000
324451    $19,200
324452    $14,000
324453    $12,500
324454     $6,000
324455    $28,000
324456    $16,750
324457     $9,600
324458     $1,000
324459     $8,000
324460    $26,000
324461     $7,000
324462     $4,000
324463    $24,000
324464    $10,000
324465    $11,000
324466     $8,000
324467    $24,000
324468    $11,000
324469    $28,000
324470     $5,500
324471    $21,425
324472     $4,000
324473    $12,000
324474     $2,000
324475    $16,000
324476    $15,000
Name: Loan_Amount_Funded, dtype: object

In [14]:

lg1=LoanGiven.str.replace(',', '')

In [15]:
lg2=lg1.str.lstrip('$')

In [16]:
Lg = [ x[:-1] for x in lg2 ]

In [17]:

df['Loan_Amount_Funded'] =lg2

In [18]:
df.head()

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
0,11.89%,54734,80364,"$25,000",25000,"$19,080",36 months,829.10,B,B4,...,0.0,0,0.0,Oct-11,7392.08,NaN,Aug-12,0,NaN,1
1,10.71%,55742,114426,"$7,000",7000,$673,36 months,228.22,B,B5,...,0.0,0,0.0,Jun-11,228.48,NaN,Aug-12,0,NaN,1
2,16.99%,57167,137225,"$25,000",25000,"$24,725",36 months,891.20,D,D3,...,44.56,0,0.0,Dec-14,935.76,NaN,Apr-15,0,NaN,1
3,13.57%,57416,139635,"$10,800",10800,"$10,692",36 months,366.86,C,C3,...,0.0,0,0.0,Nov-12,398,NaN,Jun-15,0,NaN,1
4,19.05%,58524,149512,"$7,200",7200,"$7,200",36 months,264.11,D,D4,...,0.0,0,0.0,Jun-14,3559.18,NaN,Dec-14,0,30,1

--->Eliminating $ sign from column 'Loan_Amount_Requested'

In [19]:

LoanRequested=df['Loan_Amount_Requested'][0:]

In [20]:
LoanRequested

0         $25,000
1          $7,000
2         $25,000
3         $10,800
4          $7,200
5          $3,000
6          $4,000
7          $3,200
8          $4,000
9          $2,525
10        $10,625
11         $7,500
12        $10,000
13         $3,000
14         $6,625
15        $10,000
16         $2,300
17        $15,000
18        $18,000
19         $5,000
20         $6,000
21        $11,200
22        $15,000
23        $10,000
24        $15,500
25         $9,600
26         $5,000
27         $5,000
28         $5,000
29         $5,000
           ...
324447     $7,000
324448    $35,000
324449    $20,000
324450    $15,000
324451    $19,200
324452    $14,000
324453    $12,500
324454     $6,000
324455    $28,000
324456    $16,750
324457     $9,600
324458     $1,000
324459     $8,000
324460    $26,000
324461     $7,000
324462     $4,000
324463    $24,000
324464    $10,000
324465    $11,000
324466     $8,000
324467    $24,000
324468    $11,000
324469    $28,000
324470     $5,500
324471    $21,425
324472     $4,000
324473    $12,000
324474     $2,000
324475    $16,000
324476    $15,000
Name: Loan_Amount_Requested, dtype: object

In [21]:

lr1=LoanRequested.str.replace(',', '')

In [22]:
lr2=lr1.str.lstrip('$')

In [23]:
LR = [ x[:-1] for x in lr2 ]

In [24]:
df['Loan_Amount_Requested'] =LR

--->Eliminating $ sign from column 'Loan_Amount_Funded_by_Investors'

In [25]:

LI=df['Loan_Amount_Funded_by_Investors'][0:]

In [26]:
li1=LI.str.replace(',', '')

In [27]:
li2=li1.str.lstrip('$')

In [28]:
LI1 = [ x[:-1] for x in li2 ]

In [29]:
df['Loan_Amount_Funded_by_Investors'] =LI1

--->Removing % from Interest_Rate and converting the percentage value into float

In [30]:
df['Interest_Rate'] = df['Interest_Rate'].replace('%','',regex=True).astype('float')/100

In [31]:
df['Interest_Rate']

0         0.1189
1         0.1071
2         0.1699
3         0.1357
4         0.1905
5         0.1426
6         0.0788
7         0.0988
8         0.1114
9         0.1221
10        0.1347
11        0.1324
12        0.0859
13        0.0714
14        0.0863
15        0.1103
16           NaN
17        0.0894
18        0.1039
19        0.1513
20        0.0800
21        0.1533
22        0.0863
23        0.1355
24           NaN
25        0.1229
26        0.0901
27        0.0743
28        0.0743
29        0.0743
           ...
324447    0.0819
324448    0.1924
324449    0.1199
324450    0.1299
324451    0.0819
324452    0.1924
324453    0.0867
324454    0.1649
324455    0.0699
324456    0.1924
324457    0.1049
324458    0.1559
324459    0.0819
324460    0.0949
324461    0.0749
324462    0.0949
324463    0.1199
324464    0.0867
324465    0.1924
324466    0.1239
324467       NaN
324468    0.1144
324469    0.1499
324470    0.1049
324471    0.1559
324472    0.0819
324473    0.1144
324474    0.1599
324475    0.1144
324476    0.1239
Name: Interest_Rate, dtype: float64

--->Removing months from column 'Initial_Loan_Term_Months'

In [32]:
LoanTerm=df['Initial_Loan_Term_Months'][0:]

In [33]:
LT1=LoanTerm.str.replace(' months', '')

In [34]:
LT1

0          36
1          36
2          36
3          36
4          36
5          36
6          36
7          36
8          36
9          36
10         36
11         36
12         36
13         36
14         36
15         36
16         36
17         36
18         36
19         36
20         36
21         60
22         36
23         36
24         36
25         36
26         36
27         36
28         36
29         36
         ...
324447     36
324448     36
324449     36
324450     36
324451     36
324452     60
324453     60
324454     36
324455     36
324456     36
324457     36
324458     36
324459     36
324460     36
324461     36
324462     36
324463     36
324464     36
324465     60
324466     36
324467     60
324468     36
324469     36
324470     36
324471     60
324472     36
324473     36
324474     36
324475     60
324476     60
Name: Initial_Loan_Term_Months, dtype: object

In [35]:
len(df)

324477

In [36]:
LT2 = [ x[:-1] for x in LT1 ]

In [37]:
df['Initial_Loan_Term_Months'] =LT2

In [38]:
df.describe()

       Interest_Rate          Loan_ID      Borrower_ID  Monthly_Payment
count  274975.000000    324477.000000    324477.000000    324477.000000
mean        0.138298  13145661.158156  14673129.804572       432.947560
std         0.043678  10875525.606518  11658777.603057       243.602423
min         0.054200     54734.000000     70699.000000        15.690000
25%         0.109900   3703284.000000   4584336.000000       257.870000
50%         0.136600  10122866.000000  11956936.000000       380.680000
75%         0.164900  20751084.000000  23021691.000000       567.780000
max         0.260600  38098114.000000  40860827.000000      1409.990000

--->Some of the value for column 'Last_Payment_Total' has mis value 'Jun-15' whicl should be eliminated

In [39]:
df= df[df.Last_Payment_Total != 'Jun-15']

In [40]:
len(df)

324073

Filling missing values

In [41]:
df.Interest_Rate.mean()

0.13829823725818405

In [42]:
df.Interest_Rate.fillna(value=df.Interest_Rate.mean())

0         0.118900
1         0.107100
2         0.169900
3         0.135700
4         0.190500
5         0.142600
6         0.078800
7         0.098800
8         0.111400
9         0.122100
10        0.134700
11        0.132400
12        0.085900
13        0.071400
14        0.086300
15        0.110300
16        0.138298
17        0.089400
18        0.103900
19        0.151300
20        0.080000
21        0.153300
22        0.086300
23        0.135500
24        0.138298
25        0.122900
26        0.090100
27        0.074300
28        0.074300
29        0.074300
            ...
324447    0.081900
324448    0.192400
324449    0.119900
324450    0.129900
324451    0.081900
324452    0.192400
324453    0.086700
324454    0.164900
324455    0.069900
324456    0.192400
324457    0.104900
324458    0.155900
324459    0.081900
324460    0.094900
324461    0.074900
324462    0.094900
324463    0.119900
324464    0.086700
324465    0.192400
324466    0.123900
324467    0.138298
324468    0.114400
324469    0.149900
324470    0.104900
324471    0.155900
324472    0.081900
324473    0.114400
324474    0.159900
324475    0.114400
324476    0.123900
Name: Interest_Rate, dtype: float64

In [43]:
df.dropna()

,Interest_Rate,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
49439,0.1580,1501454,1762455,1500,15000,1497,3,525.88,C,C3,...,0,0,0,Jun-15,525.88,Jul-15,Jun-15,0,81,1
50303,0.2295,1517497,1780257,1882,18825,1882,6,530.15,F,F1,...,0,0,0,Jun-15,530.15,Jul-15,Jun-15,0,61,1
50940,0.1433,1526873,1791254,1000,10000,1000,3,343.39,C,C1,...,0,0,0,Jun-15,343.39,Jul-15,Jun-15,0,60,1
52103,0.1777,1546003,1811681,1000,10000,1000,3,360.38,D,D1,...,0,0,0,Jun-15,360.38,Jul-15,Jun-15,0,30,1
58065,0.0890,1685390,1967591,630,6300,630,3,200.05,A,A5,...,0,0,0,Jun-15,200.05,Jul-15,Jun-15,0,51,1
59345,0.1875,1826223,2128538,1600,16000,1600,6,412.86,D,D3,...,0,0,0,Jun-15,412.86,Jul-15,Jun-15,0,17,1
61592,0.1580,2185057,2557903,457,4575,457,3,160.40,C,C3,...,0,0,0,Jun-15,160.4,Jul-15,Jun-15,0,31,1
62449,0.1212,2286198,2708458,800,8000,800,3,266.18,B,B3,...,0,0,0,Jun-15,266.18,Jul-15,Jun-15,0,32,1
64005,0.1580,2369452,2832030,3000,30000,3000,3,1051.76,C,C3,...,0,0,0,Jun-15,1051.76,Aug-15,Jun-15,0,20,1
65486,0.1531,2487044,2979394,480,4800,480,3,167.13,C,C2,...,0,0,0,Jun-15,167.13,Jul-15,Jun-15,0,65,1
66277,0.1580,2826139,3408571,1500,15000,1500,3,525.88,C,C3,...,0,0,0,Jun-15,525.88,Jul-15,Jun-15,0,28,1
66426,0.1212,2827709,3410306,2067,20675,2067,3,687.90,B,B3,...,30,0,0,May-15,687.9,Jul-15,Jun-15,0,11,1
66678,0.1409,2836652,3419126,1000,10000,1000,3,342.22,B,B5,...,0,0,0,Jun-15,342.22,Jul-15,Jun-15,0,48,1
66697,0.1409,2836829,3419319,640,6400,640,3,219.02,B,B5,...,0,0,0,Jun-15,219.02,Jul-15,Jun-15,0,67,1
66858,0.1114,2838635,3421275,1500,15000,1500,3,492.08,B,B2,...,0,0,0,Jun-15,492.08,Jul-15,Jun-15,0,74,1
66998,0.1212,2874940,3477130,1600,16000,1595,3,532.35,B,B3,...,0,0,0,Jun-15,532.35,Jul-15,Jun-15,0,52,1
67021,0.1212,2875238,3477463,1500,15000,1500,3,499.08,B,B3,...,0,0,0,Jun-15,499.08,Jul-15,Jun-15,0,42,1
67091,0.1212,2895192,3527416,1600,16000,1600,3,532.35,B,B3,...,0,0,0,Jun-15,532.35,Jul-15,Jun-15,0,19,1
67128,0.2049,2895791,3528093,2500,25000,2500,6,669.19,E,E1,...,0,0,0,Apr-15,669.19,Jul-15,Jun-15,0,34,1
67561,0.1311,2944915,3557100,1472,14725,1472,3,496.93,B,B4,...,0,0,0,Jun-15,496.93,Jul-15,Jun-15,0,79,1
67664,0.1433,2984722,3606895,537,5375,537,3,184.57,C,C1,...,0,0,0,Jun-15,184.57,Jul-15,Jun-15,0,40,1
67735,0.1114,2994935,3617114,225,2250,222,3,73.82,B,B2,...,0,0,0,Jun-15,73.82,Jul-15,Jun-15,0,27,1
67755,0.0790,2995176,3617383,2000,20000,2000,3,625.81,A,A4,...,0,0,0,Jun-15,625.81,Jul-15,Jun-15,0,53,1
67765,0.2149,3004641,3636808,525,5250,525,3,199.12,E,E3,...,0,0,0,Jun-15,199.12,Jul-15,Jun-15,0,29,1
67774,0.1212,3004734,3636905,800,8000,800,3,266.18,B,B3,...,0,0,0,Jun-15,266.18,Jul-15,Jun-15,0,76,1
68164,0.1629,3016155,3628476,800,8000,800,3,282.41,C,C4,...,0,0,0,Jun-15,282.41,Jul-15,Jun-15,0,48,1
68241,0.1580,3017180,3629639,1200,12000,1195,3,420.71,C,C3,...,0,0,0,Jun-15,420.71,Jul-15,Jun-15,0,49,1
68518,0.1629,3064675,3736851,1645,16450,1645,6,402.58,C,C4,...,0,0,0,Jun-15,402.58,Jul-15,Jun-15,0,81,1
68872,0.1727,3096595,3768991,2100,21000,2097,6,524.96,C,C5,...,0,0,0,Jun-15,524.96,Jul-15,Jun-15,0,6,1
69627,0.1580,3147749,3860111,640,6400,632,3,224.38,C,C3,...,0,0,0,Jun-15,224.38,Jul-15,Jun-15,0,49,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187292,0.1561,12566532,14578705,1800,18000,1792,6,434.01,C,C5,...,0,0,0,Jun-15,434.01,Jul-15,Jun-15,0,42,1
187867,0.1464,12605626,14617781,3500,35000,3500,3,1207.13,C,C3,...,0,0,0,Jun-15,1207.13,Jul-15,Jun-15,0,61,1
187875,0.1199,12605781,14617935,300,3000,300,3,99.63,B,B3,...,0,0,0,Jun-15,99.63,Jul-15,Jun-15,0,20,1
188163,0.1199,12617672,14629828,2700,27000,2697,3,896.66,B,B3,...,0,0,0,Jun-15,896.66,Jul-15,Jun-15,0,39,1
188619,0.1299,12647538,14649688,1000,10000,1000,3,336.90,B,B5,...,0,0,0,Jun-15,336.9,Jul-15,Jun-15,0,17,1
188661,0.1531,12655532,14657682,737,7375,737,3,256.78,C,C4,...,0,0,0,Jun-15,256.78,Jul-15,Jun-15,0,117,1
189316,0.0890,12696299,14708456,500,5000,500,3,158.77,A,A5,...,0,0,0,Jun-15,158.77,Jul-15,Jun-15,0,18,1
189394,0.1561,12697675,14709829,360,3600,360,3,125.88,C,C5,...,0,0,0,Jun-15,125.88,Jul-15,Jun-15,0,55,1
189556,0.1099,12707574,14719734,700,7000,700,3,229.14,B,B2,...,0,0,0,Jun-15,229.14,Jul-15,Jun-15,0,76,1.0
189938,0.1659,12786733,14808852,2040,20400,2040,6,502.51,D,D1,...,0,0,0,Jun-15,7782.24,Jul-15,Jun-15,0,3,1.0
190065,0.1249,12806031,14828164,1500,15000,1500,3,501.74,B,B4,...,0,0,0,Jun-15,501.74,Jul-15,Jun-15,0,36,1.0
190481,0.1561,12856530,14878658,1145,11450,1145,3,400.35,C,C5,...,0,0,0,Jun-15,400.35,Jul-15,Jun-15,0,30,1.0
190540,0.1249,12866031,14888169,840,8400,840,3,280.98,B,B4,...,0,0,0,Jun-15,280.98,Jul-15,Jun-15,0,15,1.0
190689,0.1464,12885860,14908009,400,4000,400,3,137.96,C,C3,...,0,0,0,Jun-15,137.96,Jul-15,Jun-15,0,44,1.0
190916,0.1561,12906800,14938986,700,7000,700,3,244.76,C,C5,...,0,0,0,Jun-15,244.76,Jul-15,Jun-15,0,49,1.0
190999,0.1416,12907925,14940101,900,9000,900,3,308.30,C,C2,...,0,0,0,Jun-15,308.3,Jul-15,Jun-15,0,71,1.0
191086,0.1099,12915775,14947974,1600,16000,1600,3,523.75,B,B2,...,0,0,0,Jun-15,523.75,Jul-15,Jun-15,0,43,1.0
191388,0.1365,12926774,14958969,840,8400,840,3,285.67,C,C1,...,0,0,0,Jun-15,285.67,Jul-15,Jun-15,0,5,1.0
191544,0.0967,12935907,14968106,1500,15000,1500,3,481.69,B,B1,...,0,0,0,Jun-15,481.69,Jul-15,Jun-15,0,64,1.0
191795,0.1199,12946180,14978374,1600,16000,1597,3,531.36,B,B3,...,0,0,0,Jun-15,531.36,Jul-15,Jun-15,0,76,1.0
191871,0.1249,12947239,14979427,3500,35000,3487,3,1170.71,B,B4,...,0,0,0,Jun-15,1170.71,Jul-15,Jun-15,0,48,1.0
192001,0.1249,12955863,14988059,700,7000,700,3,234.15,B,B4,...,0,0,0,Jun-15,234.15,Jul-15,Jun-15,0,57,1.0
192091,0.1099,12957268,14989455,700,7000,700,3,229.14,B,B2,...,0,0,0,Jun-15,229.14,Jul-15,Jun-15,0,28,1.0
192358,0.1659,12968021,15000209,1950,19500,1950,6,480.34,D,D1,...,0,0,0,Jun-15,480.34,Jul-15,Jun-15,0,66,1.0
192432,0.1825,12975674,15007876,1630,16300,1630,3,591.34,D,D3,...,0,0,0,Jun-15,591.34,Jul-15,Jun-15,0,61,1.0
192707,0.1416,12986335,15018513,537,5375,537,3,184.13,C,C2,...,0,0,0,Jun-15,1500,Jul-15,Jun-15,0,59,1.0
193207,0.1757,13007687,15039870,600,6000,600,3,215.63,D,D2,...,0,0,0,Jun-15,215.63,Jul-15,Jun-15,1,15,1.0
193556,0.1892,13026086,15058284,3000,30000,2995,6,776.90,D,D4,...,0,0,0,Jun-15,776.9,Jul-15,Jun-15,1,45,1.0
193750,0.1299,13035638,15067832,1000,10000,1000,3,336.90,B,B5,...,0,0,0,Jun-15,336.9,Jul-15,Jun-15,0,60,1.0
193753,0.1416,13035694,15067889,1000,10000,1000,3,342.56,C,C2,...,0,0,0,Jun-15,342.56,Jul-15,Jun-15,0,81,1.0

In [44]:
len(df)

324073

==>Pearson Correlation ,it can find the relationship between two numerical variables

In [45]:
df.corr(method='pearson', min_periods=1)

                 Interest_Rate   Loan_ID  Borrower_ID  Monthly_Payment
Interest_Rate         1.000000 -0.030919    -0.028741         0.150205
Loan_ID              -0.030919  1.000000     0.997314         0.036307
Borrower_ID          -0.028741  0.997314     1.000000         0.038974
Monthly_Payment       0.150205  0.036307     0.038974         1.000000

From here we know that Interest rate and Loanid,borrower-id are weekly correlated whereas Monthly payment is strongly correlated

Lets find out the correlation between other independent features and dependent feature Interest rate by first converting categorical variables to numerical variables

In [46]:
df.columns

Index([u'Interest_Rate', u'Loan_ID', u'Borrower_ID', u'Loan_Amount_Requested',
       u'Loan_Amount_Funded', u'Loan_Amount_Funded_by_Investors',
       u'Initial_Loan_Term_Months', u'Monthly_Payment', u'Loan_Grade',
       u'Sub_Loan_Grade', u'Employer', u'Length_Employed', u'Home_Owner?',
       u'Annual_Income', u'Income_Verified', u'Month_Issued',
       u'Current_Status', u'Payment_Plan_Ind', u'Loan_Description',
       u'Purpose_Of_Loan', u'Loan_Title', u'Zip_3', u'State',
       u'Debt_To_Income', u'Number_Delinqueny_2yrs', u'Month_Earliest_Credit',
       u'Inquiries_Last_6Mo', u'Months_Since_Deliquency',
       u'Months_Since_Record', u'Number_Open_Accounts', u'Public_Record_Count',
       u'Revolving_Balance', u'Revolving_Utilization', u'Total_Accounts',
       u'Initial_Status', u'Outstanding_Principal',
       u'Outstanding_Principal_Remaining', u'Total_Payment',
       u'Total_Payment_Funded', u'Total_Received', u'Total_Received_Interest',
       u'Total_Received_Late_Fees', u'Recoveries', u'Collection_Recovery_Fee',
       u'Last_Payment_Received', u'Last_Payment_Total', u'Next_Payment_Date',
       u'Last_Credit_Pulled', u'Collections_12Mo_Exclude_Med',
       u'Months_Since_Last_Derogatory', u'Policy_Code'],
      dtype='object')

In [47]:
len(df)

324073

#Converting categorical values into continuous values
Taking into consideration for calculating interest rate
Choose colums :Loan_Amount_Funded
               Monthly_Payment
               Loan_Grade
               Total_Received_Late_Fees
               Last_Payment_Total
               Initial_Loan_Term_Month

In [48]:
X = pd.DataFrame()
X['Loan_Amount_Funded'] = df['Loan_Amount_Funded']
X['Monthly_Payment'] = df['Monthly_Payment']
X['Loan_Grade']=df['Loan_Grade']
#X['Total_Received_Late_Fees']=df['Total_Received_Late_Fees']
#X['Total_Received'] = df['Total_Received']
#X['Last_Payment_Total']=df['Last_Payment_Total']
#X['Last_Payment_Total']=df['Last_Payment_Total']
X['Initial_Loan_Term_Months'] = df['Initial_Loan_Term_Months']
#X['Annual_Income']=df['Annual_Income']
X['Interest_Rate'] = df['Interest_Rate']

In [49]:
y = X['Interest_Rate']
X = X.drop(['Interest_Rate'], axis=1)

In [50]:
# Make train and test datasets
from sklearn.cross_validation import train_test_split
import numpy as np
np.random.seed(100)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.63)

In [51]:
len(X_train)

119907

In [52]:
X.count()

Loan_Amount_Funded          324073
Monthly_Payment             324073
Loan_Grade                  274586
Initial_Loan_Term_Months    324073
dtype: int64

In [53]:
X_train = X_train.join(pd.get_dummies(df.Loan_Grade, prefix='Grade'))

In [54]:
X_train= X_train.drop(['Loan_Grade', 'Grade_G'], axis=1)

In [55]:
X_train = X_train.join(pd.get_dummies(df.Loan_Amount_Funded, prefix='Amount_Funded'))

In [56]:
X_train.head()

,Loan_Amount_Funded,Monthly_Payment,Initial_Loan_Term_Months,Grade_0,Grade_A,Grade_B,Grade_C,Grade_D,Grade_E,Grade_F,...,Amount_Funded_9750,Amount_Funded_9775,Amount_Funded_9800,Amount_Funded_9825,Amount_Funded_9850,Amount_Funded_9875,Amount_Funded_9900,Amount_Funded_9925,Amount_Funded_9950,Amount_Funded_9975
171442,23000,599.43,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23054,10000,344.95,3,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95905,6000,199.63,3,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49366,12000,287.44,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142294,8400,285.75,3,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
X_train= X_train.drop(['Loan_Amount_Funded','Amount_Funded_9825'], axis=1)

In [58]:
X_train['Initial_Loan_Term_Months'] = pd.get_dummies(X_train.Initial_Loan_Term_Months)

X.corr(method='pearson', min_periods=1)

In [59]:
len(X_train)

119907

In [60]:
len(X_train.columns)

1344

In [61]:
X_train

,Monthly_Payment,Initial_Loan_Term_Months,Grade_0,Grade_A,Grade_B,Grade_C,Grade_D,Grade_E,Grade_F,Amount_Funded_1000,...,Amount_Funded_9725,Amount_Funded_9750,Amount_Funded_9775,Amount_Funded_9800,Amount_Funded_9850,Amount_Funded_9875,Amount_Funded_9900,Amount_Funded_9925,Amount_Funded_9950,Amount_Funded_9975
171442,599.43,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23054,344.95,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95905,199.63,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49366,287.44,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
142294,285.75,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
87678,677.94,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179078,470.56,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301385,113.19,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24344,423.11,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
321749,417.17,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
143350,243.01,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5352,147.70,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299320,1282.79,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
184716,149.64,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
167377,398.52,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
216013,748.65,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8970,359.71,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42618,271.89,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71320,608.72,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297877,218.68,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
111126,197.86,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213542,529.88,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108029,742.04,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146650,279.10,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177325,272.96,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
226643,720.21,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96989,858.87,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
300253,1145.69,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50583,225.29,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298425,697.74,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207551,172.45,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
225349,96.14,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96494,399.41,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77902,208.91,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
273385,476.02,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255374,419.58,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
111416,461.04,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
317541,632.14,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
269441,748.65,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35999,304.36,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
283920,501.71,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
289583,493.68,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
161975,803.19,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
215813,945.50,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173892,533.24,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
109665,187.75,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
139072,208.29,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
190695,480.18,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
86456,509.59,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
109505,507.90,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
202639,200.70,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
106413,253.95,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
283076,429.74,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
194826,394.13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213299,524.00,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65731,368.36,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
254193,317.71,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
211142,323.38,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56166,629.86,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
300952,326.79,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100, oob_score=True, random_state=42)
model.fit(X_train, y_train)

model.predict(X_test)

In [109]:
### Grid Search
from sklearn.grid_search import GridSearchCV
n_estimators = [300,400,500]
max_features = ['auto', 'sqrt','log2']
min_samples_split = [3,5,7]


rfc = RandomForestRegressor(n_jobs=1)
#Parameters of pipelines can be set using ‘__’ separated parameter names:
estimator = GridSearchCV(rfc,
                         dict(n_estimators=n_estimators,
                              max_features=max_features,
                              min_samples_split=min_samples_split
                              ), cv=None, n_jobs=-1)

In [ ]:
estimator.fit(X_train, y_train)

In [108]:
estimator.best_estimator_

AttributeError: 'GridSearchCV' object has no attribute 'best_estimator_'

rfc_best=estimator.best_estimator_

y_hat

mean_squared_error(y_test, y_hat)

r2_score(y_test, y_hat)

Reading TEST.CSV

In [67]:
df_test=pd.read_csv("D:\UIS-LEARN\Spring 2016/MidtermData/midterm_test.csv")
df_test.head()

C:\Users\anusha\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (13,28,29,30,31,37,38,39,40,41,42,43,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Loan_ID,Borrower_ID,Loan_Amount_Requested,Loan_Amount_Funded,Loan_Amount_Funded_by_Investors,Initial_Loan_Term_Months,Monthly_Payment,Loan_Grade,Sub_Loan_Grade,...,Total_Received_Late_Fees,Recoveries,Collection_Recovery_Fee,Last_Payment_Received,Last_Payment_Total,Next_Payment_Date,Last_Credit_Pulled,Collections_12Mo_Exclude_Med,Months_Since_Last_Derogatory,Policy_Code
0,0,15671090,17763514,"$6,000","$6,000","$5,950",36 months,202.14,B,B5,...,0,0,0,Jun-15,202.14,Jul-15,Jun-15,0,47.0,1
1,1,7699533,9401088,"$4,375","$4,375","$4,375",36 months,161.53,D,D4,...,0,0,0,Jun-15,161.53,Jul-15,Jun-15,0,NaN,1
2,2,12826375,14848495,"$17,500","$17,500","$17,500",60 months,413.03,C,C3,...,0,0,0,May-15,15004.64,NaN,Jun-15,0,NaN,1.0
3,3,6838614,8460512,"$10,625","$10,625","$10,625",36 months,342.79,B,B1,...,0,0,0,Jun-15,400,Jul-15,Jun-15,0,NaN,1
4,4,17002617,19135146,"$16,000","$16,000","$16,000",36 months,541.81,C,C2,...,0,0,0,Jun-15,541.81,Jul-15,Jun-15,0,NaN,1.0

In [122]:
len(df_test.columns)

51

In [123]:
df_test.describe()

          Unnamed: 0          Loan_ID      Borrower_ID  Monthly_Payment
count  117987.000000    117987.000000    117987.000000    117987.000000
mean    58993.000000  13192185.767390  14718310.362506       432.902721
std     34060.057443  10914425.400505  11699633.091690       243.303335
min         0.000000     57245.000000     73673.000000        16.470000
25%     29496.500000   3701986.000000   4582226.500000       257.050000
50%     58993.000000  10130960.000000  11964760.000000       381.040000
75%     88489.500000  20782505.000000  23052289.000000       567.190000
max    117986.000000  37841931.000000  40605012.000000      1408.130000

--->Eliminating $ sign from column 'Loan_Amount_Funded'

In [68]:

ldb_test= df_test.reset_index()
LoanGiven_test=df_test['Loan_Amount_Funded'][0:]

In [69]:

lg_test=LoanGiven_test.str.replace(',', '')

In [70]:
lg2_test=lg_test.str.lstrip('$')

In [71]:
Lg_test = [ x[:-1] for x in lg2_test ]

In [72]:

df_test['Loan_Amount_Funded'] =lg2_test

--->Eliminating $ sign from column 'Loan_Amount_Requested'

In [73]:
LoanRequested=df_test['Loan_Amount_Requested'][0:]

In [74]:
lr1_test=LoanRequested.str.replace(',', '')

In [75]:
lr2_test=lr1_test.str.lstrip('$')

In [76]:
LR_test = [ x[:-1] for x in lr2_test ]

In [77]:
df_test['Loan_Amount_Requested'] =LR_test

--->Eliminating $ sign from column 'Loan_Amount_Funded_by_Investors'

In [78]:
LI_test=df_test['Loan_Amount_Funded_by_Investors'][0:]

In [79]:
li1_test=LI_test.str.replace(',', '')

In [80]:
li2_test=li1_test.str.lstrip('$')

In [81]:
LI1_test = [ x[:-1] for x in li2_test ]

In [82]:
df_test['Loan_Amount_Funded_by_Investors'] =LI1_test

--->Removing months from column 'Initial_Loan_Term_Months'

In [83]:
LoanTerm=df_test['Initial_Loan_Term_Months'][0:]

In [84]:
LT1_test=LoanTerm.str.replace(' months', '')

In [85]:
LT2_test= [ x[:-1] for x in LT1_test ]

In [86]:
df_test['Initial_Loan_Term_Months'] =LT2_test

df_test= df_test[df_test.Last_Payment_Total != 'Jun-15']


df_test= df_test[df_test.Last_Payment_Total != 'May-15']

df_test[df_test.Total_Received == 'f']


df_test= df_test[df_test.Total_Received!= 'f']



df_test= df_test[df_test.Total_Received!= '$32.99<br/>Sears']

df_test= df_test.dropna(axis=0)

In [87]:
df_test['Last_Payment_Total'].value_counts()

336.9       268
327.34      265
0           226
332.1       208
491.01      180
392.81      165
334.49      161
608.72      156
269.52      153
330.57      147
304.36      134
168.45      134
317.54      133
673.79      129
404.27      128
498.15      125
635.07      123
261.88      122
289.34      122
654.68      121
196.41      120
167.25      118
Jun-15      117
341.68      115
365.23      114
312.91      113
381.04      110
456.54      108
501.74      108
476.3       107
           ...
375.67        1
96.5          1
9971.8        1
613.49        1
2447.05       1
772.69        1
11401.55      1
17039.86      1
6611.48       1
933.63        1
155.21        1
375.69        1
749.08        1
2809.78       1
756.45        1
203.36        1
749.01        1
10953.44      1
6883.77       1
4154.98       1
1398.06       1
343.94        1
325.08        1
562.94        1
207.73        1
1196.29       1
214.35        1
325.04        1
598.33        1
7040.93       1
Name: Last_Payment_Total, dtype: int64

In [88]:
df.dtypes

Interest_Rate                      float64
Loan_ID                              int64
Borrower_ID                          int64
Loan_Amount_Requested               object
Loan_Amount_Funded                  object
Loan_Amount_Funded_by_Investors     object
Initial_Loan_Term_Months            object
Monthly_Payment                    float64
Loan_Grade                          object
Sub_Loan_Grade                      object
Employer                            object
Length_Employed                     object
Home_Owner?                         object
Annual_Income                       object
Income_Verified                     object
Month_Issued                        object
Current_Status                      object
Payment_Plan_Ind                    object
Loan_Description                    object
Purpose_Of_Loan                     object
Loan_Title                          object
Zip_3                               object
State                               object
Debt_To_Income                      object
Number_Delinqueny_2yrs              object
Month_Earliest_Credit               object
Inquiries_Last_6Mo                  object
Months_Since_Deliquency             object
Months_Since_Record                 object
Number_Open_Accounts                object
Public_Record_Count                 object
Revolving_Balance                   object
Revolving_Utilization               object
Total_Accounts                      object
Initial_Status                      object
Outstanding_Principal               object
Outstanding_Principal_Remaining     object
Total_Payment                       object
Total_Payment_Funded                object
Total_Received                      object
Total_Received_Interest             object
Total_Received_Late_Fees            object
Recoveries                          object
Collection_Recovery_Fee             object
Last_Payment_Received               object
Last_Payment_Total                  object
Next_Payment_Date                   object
Last_Credit_Pulled                  object
Collections_12Mo_Exclude_Med        object
Months_Since_Last_Derogatory        object
Policy_Code                         object
dtype: object

In [89]:
df_test['Total_Received_Late_Fees'].value_counts()

0.0                   99628
0.0                   15495
0                       552
15.0                    327
15.0                     55
30.0                     35
45.0                      6
30.0                      6
15.89                     4
17.41                     4
16.72                     3
18.2                      3
21.31                     3
15.6                      3
25.32                     3
12000.0                   3
34.34                     3
10000.0                   3
33.86                     3
20.6                      3
60.0                      3
15000.0                   3
17.2                      3
16.64                     2
26.71                     2
15.82                     2
26.48                     2
18.87                     2
16.06                     2
20000.0                   2
                      ...
14.9871991808             1
14.9654587323             1
27000.0                   1
59.1476856963             1
16.4                      1
14.9678295682             1
579.8                     1
32.6140937517             1
1931.23                   1
14.9286280729             1
21.23                     1
14.986207753499999        1
3059.08                   1
5995.47                   1
14.9080939948             1
36.86                     1
27.78                     1
93.66                     1
852.8                     1
26.177                    1
19.41                     1
29.87                     1
6609.42                   1
25.96                     1
846.69                    1
37.26                     1
18.1160175969             1
2629.57                   1
59.28                     1
25.3449985212             1
Name: Total_Received_Late_Fees, dtype: int64

In [90]:
df_test['Initial_Loan_Term_Months'].value_counts()

 3    85524
 6    32463
Name: Initial_Loan_Term_Months, dtype: int64

In [91]:
Result=pd.DataFrame()

In [92]:
Result['Id'] = df_test['Unnamed: 0']

In [93]:
Result['Id'].count()

117987

In [94]:
X1 = pd.DataFrame()
X1['Loan_Amount_Funded'] = df_test['Loan_Amount_Funded']
#X1['Total_Received'] = df_test['Total_Received']
X1['Monthly_Payment'] = df_test['Monthly_Payment']
X1['Loan_Grade']=df_test['Loan_Grade']
#X1['Total_Received_Late_Fees']=df_test['Total_Received_Late_Fees']

#X1['Last_Payment_Total']=df_test['Last_Payment_Total']
X1['Initial_Loan_Term_Months'] = df_test['Initial_Loan_Term_Months']

In [95]:
X1

       Loan_Amount_Funded  Monthly_Payment Loan_Grade Initial_Loan_Term_Months
0                    6000           202.14          B                        3
1                    4375           161.53          D                        3
2                   17500           413.03          C                        6
3                   10625           342.79          B                        3
4                   16000           541.81          C                        3
5                    5000           160.57          B                        3
6                   30000           992.28          B                        3
7                    6000           205.98          C                        3
8                    9000           299.45          B                        3
9                    9000           299.45          B                        3
10                   7500           257.32          C                        3
11                   5600           204.57          D                        3
12                   6500           171.20          D                        6
13                  35000           906.38          D                        6
14                   5400           190.39          C                        3
15                  14400           506.27          D                        3
16                  18500           381.08          B                        6
17                  16750           476.34        NaN                        6
18                  13750           436.48          B                        3
19                   4950           162.39          B                        3
20                  12000           388.11          B                        3
21                  21000           440.94        NaN                        6
22                   5000           169.75          B                        3
23                  12000           368.45        NaN                        3
24                  20000           664.20          B                        3
25                  20425           510.59          C                        6
26                   7200           228.63          A                        3
27                   4000           150.71          E                        3
28                   9000           279.92          A                        3
29                   8000           252.14        NaN                        3
...                   ...              ...        ...                      ...
117957               3000            93.88        NaN                        3
117958              18000           594.00          B                        3
117959               5000           176.51          C                        3
117960              12000           306.30          D                        6
117961              12000           381.04          A                        3
117962               8450           311.97          E                        3
117963               7200           239.11          B                        3
117964              20000           661.14          B                        3
117965               6500           218.98          C                        3
117966              24000           547.43          B                        6
117967              28000           929.87          B                        3
117968              17000           539.81          A                        3
117969              32000          1070.37          B                        3
117970              13375           467.66          C                        3
117971              10000           344.07          C                        3
117972               7200           232.87          B                        3
117973              10500           339.60          B                        3
117974               8000           279.72          C                        3
117975               7000           222.21          B                        3
117976               5500           186.25          C                        3
117977              12000           392.81          B                        3
117978               3000            96.47        NaN                        3
117979               4200           128.71          A                        3
117980              10000           339.50          B                        3
117981              16500           613.12          E                        3
117982              12000           392.81          B                        3
117983               8000           272.15          B                        3
117984              20000           612.89          A                        3
117985              23200           571.48          D                        6
117986              10000           336.90          B                        3

[117987 rows x 4 columns]

In [96]:
def describe_categorical(X1):
    """
    Just like .describe(), but returns the results for
    categorical variables only.
    """
    from IPython.display import display, HTML
    display(HTML(X1[X1.columns[X1.dtypes == "object"]].describe().to_html()))

In [97]:
describe_categorical(X1)

In [98]:
X1.Initial_Loan_Term_Months.value_counts()

 3    85524
 6    32463
Name: Initial_Loan_Term_Months, dtype: int64

In [99]:
X1.Loan_Grade.value_counts()

B    29543
C    27030
D    16268
A    16096
E     7529
F     2879
G      692
0        4
Name: Loan_Grade, dtype: int64

In [100]:

X1 = X1.join(pd.get_dummies(df_test.Loan_Amount_Funded, prefix='Amount_Funded'))
X1= X1.drop(['Loan_Amount_Funded', 'Amount_Funded_9900'], axis=1)

In [101]:
X1 = X1.join(pd.get_dummies(df_test.Loan_Grade, prefix='Grade'))
X1= X1.drop(['Grade_G', 'Loan_Grade'], axis=1)

In [102]:
X1['Initial_Loan_Term_Months'] = pd.get_dummies(X1.Initial_Loan_Term_Months)

In [103]:
set(X_train.columns) - set(X1.columns)

{'Amount_Funded_1075',
 'Amount_Funded_1225',
 'Amount_Funded_1425',
 'Amount_Funded_1725',
 'Amount_Funded_20025',
 'Amount_Funded_25125',
 'Amount_Funded_26175',
 'Amount_Funded_26225',
 'Amount_Funded_26450',
 'Amount_Funded_26525',
 'Amount_Funded_26700',
 'Amount_Funded_26875',
 'Amount_Funded_27275',
 'Amount_Funded_27350',
 'Amount_Funded_27550',
 'Amount_Funded_27775',
 'Amount_Funded_27825',
 'Amount_Funded_27925',
 'Amount_Funded_27950',
 'Amount_Funded_28075',
 'Amount_Funded_28400',
 'Amount_Funded_28525',
 'Amount_Funded_28575',
 'Amount_Funded_28675',
 'Amount_Funded_28850',
 'Amount_Funded_29075',
 'Amount_Funded_29275',
 'Amount_Funded_29425',
 'Amount_Funded_29475',
 'Amount_Funded_29825',
 'Amount_Funded_30050',
 'Amount_Funded_30150',
 'Amount_Funded_30325',
 'Amount_Funded_30450',
 'Amount_Funded_30475',
 'Amount_Funded_30525',
 'Amount_Funded_30650',
 'Amount_Funded_30675',
 'Amount_Funded_30775',
 'Amount_Funded_31075',
 'Amount_Funded_31150',
 'Amount_Funded_31250',
 'Amount_Funded_31325',
 'Amount_Funded_31425',
 'Amount_Funded_31475',
 'Amount_Funded_31525',
 'Amount_Funded_31625',
 'Amount_Funded_31650',
 'Amount_Funded_31725',
 'Amount_Funded_31850',
 'Amount_Funded_31875',
 'Amount_Funded_31925',
 'Amount_Funded_32125',
 'Amount_Funded_32150',
 'Amount_Funded_32475',
 'Amount_Funded_32550',
 'Amount_Funded_32725',
 'Amount_Funded_32775',
 'Amount_Funded_32800',
 'Amount_Funded_33075',
 'Amount_Funded_33100',
 'Amount_Funded_33175',
 'Amount_Funded_33350',
 'Amount_Funded_33400',
 'Amount_Funded_33450',
 'Amount_Funded_33475',
 'Amount_Funded_33550',
 'Amount_Funded_33650',
 'Amount_Funded_33675',
 'Amount_Funded_33725',
 'Amount_Funded_33750',
 'Amount_Funded_33775',
 'Amount_Funded_34150',
 'Amount_Funded_34325',
 'Amount_Funded_34400',
 'Amount_Funded_34425',
 'Amount_Funded_34600',
 'Amount_Funded_34775',
 'Amount_Funded_34850',
 'Amount_Funded_34925',
 'Amount_Funded_34950',
 'Amount_Funded_725',
 'Amount_Funded_750',
 'Amount_Funded_800',
 'Amount_Funded_900',
 'Amount_Funded_950',
 'Amount_Funded_9900'}

In [104]:
X1["Last_Payment_Total_1020.42"] = 0
X1["Last_Payment_Total_151.3"] = 0
X1["Total_Received_1237.89"] = 0
X1["Total_Received_2045.83"] = 0
X1["Total_Received_Late_Fees_15.0"] = 0
X1["Total_Received_2021.31"] = 0

In [105]:
 X1['Total_Received_Late_Fees_15.0']=0

In [106]:
len(X1.columns)

1275

In [107]:
y_hat1 =rfc_best.predict(X1)

NameError: name 'rfc_best' is not defined

In [1162]:
y_hat1

array([ 0.14780193,  0.14746958,  0.12886655,  0.17985699,  0.10115212,
        0.10123566,  0.12431855,  0.10115212,  0.12823099,  0.10115212,
        0.14868641,  0.124377  ,  0.13050398,  0.13250982,  0.14942351,
        0.10115212,  0.18540215,  0.13202086,  0.18741543,  0.14780193,
        0.1015602 ,  0.17965064,  0.15037116,  0.10123566,  0.10115212,
        0.14780193,  0.15022822,  0.10115212,  0.12920963,  0.10115212,
        0.18116434,  0.10115212,  0.14952488,  0.10115212,  0.23072799,
        0.10115212,  0.15157395,  0.14881797,  0.10115212,  0.12929746,
        0.10115212,  0.22996466,  0.1492022 ,  0.10115212,  0.14760258,
        0.13050134,  0.22882601,  0.10115212,  0.12754077,  0.13113913,
        0.14804478,  0.1002    ,  0.18230981,  0.12437326,  0.12701768,
        0.10007679,  0.1002    ,  0.14559307,  0.14702091,  0.14823692,
        0.1002    ,  0.18587752,  0.12522754,  0.13190112,  0.10007679,
        0.10007679,  0.13135193,  0.10007679,  0.13003688,  0.14728572,
        0.10007679,  0.10115212,  0.14846368,  0.18268313,  0.14969147,
        0.10115212,  0.13149045,  0.12944682,  0.10115212,  0.10115212,
        0.10115212,  0.14899335,  0.10115212,  0.10115212,  0.18508611,
        0.15020661,  0.22961901,  0.10051633,  0.1487587 ,  0.13296884,
        0.13149045,  0.17968524,  0.21638616,  0.10121951,  0.10115212,
        0.14987154,  0.14998149,  0.18281709,  0.18881795,  0.18768082,
        0.10115212,  0.12942336,  0.1302653 ,  0.23014079,  0.18268313,
        0.10115212,  0.13149045,  0.10027845,  0.13071928,  0.10115212,
        0.10115212,  0.12393308,  0.14899608,  0.10006474,  0.10165235,
        0.10115212,  0.13424867,  0.10115212,  0.10007195,  0.10115212,
        0.14853694,  0.12944682,  0.12450283,  0.14801238,  0.10123566,
        0.15057196,  0.14932494,  0.12668737,  0.12987501,  0.14664533,
        0.12890694,  0.12274301,  0.10115212,  0.124377  ,  0.10115212,
        0.13071297,  0.10115212,  0.10072887,  0.10115212,  0.13198484,
        0.10115212,  0.13190915,  0.10115212,  0.23712537,  0.10115212,
        0.10115212,  0.10123566,  0.12919797,  0.2163421 ,  0.14925239,
        0.10115212,  0.23008279,  0.15019826,  0.15295731,  0.10115212,
        0.10121951,  0.12866267,  0.18268313,  0.12728373,  0.10115212,
        0.10115212,  0.14780211,  0.12753777,  0.10123566,  0.14982493,
        0.10115212,  0.14905679,  0.14804974,  0.12355322,  0.10115212,
        0.12670873,  0.14904205])

In [992]:
y_hat1

array([ 0.00159829,  0.00159829,  0.00125712,  0.00168077,  0.00128894,
        0.00128894,  0.00125712,  0.00128894,  0.00125712,  0.00128894,
        0.00159829,  0.00125712,  0.00125712,  0.00125712,  0.00159829,
        0.00128894,  0.00168077,  0.00125712,  0.00168077,  0.00159829,
        0.00128894,  0.00168077,  0.00159829,  0.00128894,  0.00128894,
        0.00159829,  0.00159829,  0.00128894,  0.00125712,  0.00128894,
        0.00168077,  0.00128894,  0.00159829,  0.00128894,  0.00167729,
        0.00128894,  0.00159829,  0.00159829,  0.00128894,  0.00125712,
        0.00128894,  0.00167729,  0.00159829,  0.00128894,  0.00159829,
        0.00125712,  0.00167729,  0.00128894,  0.00125712,  0.00125712,
        0.00159829,  0.00128894,  0.00168077,  0.00125712,  0.00125712,
        0.00128894,  0.00128894,  0.00159829,  0.00159829,  0.00159829,
        0.00128894,  0.00168077,  0.00125712,  0.00125712,  0.00128894,
        0.00128894,  0.00125712,  0.00128894,  0.00125712,  0.00159829,
        0.00128894,  0.00128894,  0.00159829,  0.00168077,  0.00159829,
        0.00128894,  0.00125712,  0.00125712,  0.00128894,  0.00128894,
        0.00128894,  0.00159829,  0.00128894,  0.00128894,  0.00168077,
        0.00159829,  0.00167729,  0.00128894,  0.00159829,  0.00125712,
        0.00125712,  0.00168077,  0.00172927,  0.00128894,  0.00128894,
        0.00159829,  0.00159829,  0.00168077,  0.00168077,  0.00168077,
        0.00128894,  0.00125712,  0.00125712,  0.00167729,  0.00168077,
        0.00128894,  0.00125712,  0.00128894,  0.00125712,  0.00128894,
        0.00128894,  0.00125712,  0.00159829,  0.00128618,  0.00128894,
        0.00128894,  0.00125712,  0.00128894,  0.00128894,  0.00128894,
        0.00159829,  0.00125712,  0.00125712,  0.00159829,  0.00128894,
        0.00159829,  0.00159829,  0.00125712,  0.00125712,  0.00159829,
        0.00125712,  0.00125712,  0.00128894,  0.00125712,  0.00128894,
        0.00125712,  0.00128894,  0.00128894,  0.00128894,  0.00125712,
        0.00128894,  0.00125712,  0.00128894,  0.00168689,  0.00128894,
        0.00128894,  0.00128894,  0.00125712,  0.00172927,  0.00159829,
        0.00128894,  0.00167729,  0.00159829,  0.00159829,  0.00128894,
        0.00128894,  0.00125712,  0.00168077,  0.00125712,  0.00128894,
        0.00128894,  0.00159829,  0.00125712,  0.00128894,  0.00159829,
        0.00128894,  0.00159829,  0.00159829,  0.00125712,  0.00128894,
        0.00125712,  0.00159829])

In [1172]:
Result = pd.DataFrame()

In [1173]:
Result['Id'] = df_test['Unnamed: 0']

In [1177]:
 df_test['Unnamed: 0']

55            55
720          720
2097        2097
2627        2627
3902        3902
4025        4025
4249        4249
4738        4738
5153        5153
5705        5705
9907        9907
10668      10668
11811      11811
13035      13035
13220      13220
13701      13701
14589      14589
14887      14887
14932      14932
15205      15205
15304      15304
15512      15512
15568      15568
15758      15758
16072      16072
17267      17267
17400      17400
17588      17588
18747      18747
19135      19135
           ...
94070      94070
94590      94590
97951      97951
98677      98677
99264      99264
99769      99769
100100    100100
100758    100758
102520    102520
102889    102889
104958    104958
105024    105024
105636    105636
105952    105952
108222    108222
108413    108413
109409    109409
110188    110188
112611    112611
112753    112753
112854    112854
113044    113044
113216    113216
113312    113312
113874    113874
114130    114130
114308    114308
114985    114985
115568    115568
116774    116774
Name: Unnamed: 0, dtype: int64

In [1174]:

Result['Rate'] = y_hat1

            Id      Rate
55          55  0.147802
720        720  0.147470
2097      2097  0.128867
2627      2627  0.179857
3902      3902  0.101152
4025      4025  0.101236
4249      4249  0.124319
4738      4738  0.101152
5153      5153  0.128231
5705      5705  0.101152
9907      9907  0.148686
10668    10668  0.124377
11811    11811  0.130504
13035    13035  0.132510
13220    13220  0.149424
13701    13701  0.101152
14589    14589  0.185402
14887    14887  0.132021
14932    14932  0.187415
15205    15205  0.147802
15304    15304  0.101560
15512    15512  0.179651
15568    15568  0.150371
15758    15758  0.101236
16072    16072  0.101152
17267    17267  0.147802
17400    17400  0.150228
17588    17588  0.101152
18747    18747  0.129210
19135    19135  0.101152
...        ...       ...
94070    94070  0.101152
94590    94590  0.237125
97951    97951  0.101152
98677    98677  0.101152
99264    99264  0.101236
99769    99769  0.129198
100100  100100  0.216342
100758  100758  0.149252
102520  102520  0.101152
102889  102889  0.230083
104958  104958  0.150198
105024  105024  0.152957
105636  105636  0.101152
105952  105952  0.101220
108222  108222  0.128663
108413  108413  0.182683
109409  109409  0.127284
110188  110188  0.101152
112611  112611  0.101152
112753  112753  0.147802
112854  112854  0.127538
113044  113044  0.101236
113216  113216  0.149825
113312  113312  0.101152
113874  113874  0.149057
114130  114130  0.148050
114308  114308  0.123553
114985  114985  0.101152
115568  115568  0.126709
116774  116774  0.149042

[172 rows x 2 columns]

In [1]:
Result.to_csv("D:\UIS-LEARN\Spring 2016/MidtermData/submission.csv", index=False)

NameError: name 'Result' is not defined